---
layout: default
---

<div class="viewport">
  <div class="container">
    <div class="fw-100">
      <div><code>font-weight: 100</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-200">
      <div><code>font-weight: 200</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-300">
      <div><code>font-weight: 300</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-400">
      <div><code>font-weight: 400</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-500">
      <div><code>font-weight: 500</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-600">
      <div><code>font-weight: 600</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-700">
      <div><code>font-weight: 700</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-800">
      <div><code>font-weight: 800</code></div>
      {% include typography-sample.html %}
    </div>
    <div class="fw-900">
      <div><code>font-weight: 900</code></div>
      {% include typography-sample.html %}
    </div>
  </div>
</div>
