---
layout: default
---

<div class="viewport">
  <div class="container">
    Portfolio
    <div style="display: none;">
      <div><strong>Parabol</strong></div>
      {% include portfolio-entry.html %}
      <div><strong>Quirky</strong></div>
      {% include portfolio-entry.html %}
      <div><strong>Eight90</strong></div>
      {% include portfolio-entry.html %}
      <div><strong>HomeTrackr</strong></div>
      {% include portfolio-entry.html %}
      <div><strong>BoomTown</strong></div>
      {% include portfolio-entry.html %}
      <div><strong>Children’s</strong></div>
      {% include portfolio-entry.html %}
      <div><strong>Ackernaut</strong></div>
      {% include portfolio-entry.html %}
    </div>

    <!-- Work history -->
    <div class="cf">
      <div class="w-33-ns fl">
        <b>…worked for:</b>
        <ul>
          <li><a href="http://faceta.co/" title="Faceta, LLC">Faceta, LLC</a></li>
          <li><a href="https://www.quirky.com/" title="Quirky, Inc.">Quirky, Inc.</a></li>
          <li><a href="http://boomtownroi.com/" title="BoomTown Real Estate Platform">BoomTown Real Estate Platform</a></li>
          <li><a href="https://www.childrens.com/" title="Children’s Medical Center of Dallas">Children’s Medical Center Dallas</a></li>
          <li><a href="http://www.sfasu.edu/" title="Stephen F. Austin State University">Stephen F. Austin State University</a></li>
        </ul>
      </div>
      <div class="w-33-ns fl">
        <b>…worked on:</b>
        <ul>
          <li><a href="http://parabol.co/" title="Parabol">Parabol</a></li>
          <li><a href="https://hometrackr.com/" title="HomeTrackr">HomeTrackr</a></li>
          <li><a href="http://cloudcollege.com/" title="CloudCollege">CloudCollege</a></li>
          <li><a href="https://www.facebook.com/WikipediaMaze/" title="WikipediaMaze">WikipediaMaze</a></li>
        </ul>
      </div>
      <div class="w-34-ns fl">
        <b>…worked with:</b>
        <ul>
          <li><a href="http://eightninety.com/" title="Eightninety Designs">Eightninety Designs</a></li>
          <li><a href="http://www.thriveagency.com/" title="Thrive Agency, Inc.">Thrive Agency, Inc.</a></li>
          <li><a href="http://fruda.com/" title="Fruda, LLC">Fruda, LLC</a></li>
          <li><a href="http://www.rga.com/" title="R/GA">R/GA</a></li>
          <li><a href="#link" title="string">string</a></li>
          <li><a href="#link" title="string">string</a></li>
          <li><a href="http://tahzoo.com/" title="Tahzoo">Tahzoo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
