    <div class="main" role="main">
      <img class="ackernaut" src="/assets/dist/images/ackernaut-pixel.svg">
      <h1 class="heading">Ackernaut</h1>
      <h2 class="tagline">Think, make, learn—repeat.</h2>
      <ul class="in-the-wild">
        <li><span class="label">Say hello on:</span> <a class="link" href="https://twitter.com/ackernaut" title="Ackernaut on Twitter">Twitter</a></li>
        <li><span class="label">Coding on:</span> <a class="link" href="https://github.com/ackernaut" title="Ackernaut on GitHub">GitHub</a></li>
        <li><span class="label">Another link:</span> <a class="link" href="https://www.linkedin.com/in/terryacker" title="Ackernaut on LinkedIn">LinkedIn</a></li>
      </ul>
      <div class="footer">© 2009–2019</div>
    </div>
