<!-- Pixel -->
<div class="pxl-canvas">

  <!-- 1 -->

  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>

  <!-- 2 -->

  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-b"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-b"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>

  <!-- 3 -->

  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-b"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-b"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>

  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm"></div>
  </div>

  <!-- Pixels -->
  <div class="pxl">
    <div class="pxl-thm pxl-thm-a"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-b"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-c"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-d"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-e"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-f"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-g"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-h"></div>
  </div>
  <div class="pxl">
    <div class="pxl-thm pxl-thm-i"></div>
  </div>
</div>
