
<!-- Portfolio entry -->
<div class="portfolio-entry">

  <!-- Preview images -->
  <!-- Todo: set up Colorbox -->
  <div class="portfolio-preview-images">
    <a href="#" title="Preview">Preview</a>
  </div>

  <!-- Project details -->
  <div class="portfolio-entry-details">
    <!-- Company -->
    <div class="portfolio-entry-field">
      <div class="portfolio-entry-label">Company</div>
      <div class="portfolio-entry-copy">Company name</div>
    </div>

    <!-- Projects -->
    <div class="portfolio-entry-field">
      <div class="portfolio-entry-label">Projects</div>

      <!-- Project -->
      <div class="portfolio-entry-sub-label">Project name</div>
      <div class="portfolio-entry-sub-copy">Project description</div>

      <!-- Project -->
      <div class="portfolio-entry-sub-label">Project name</div>
      <div class="portfolio-entry-sub-copy">Project description</div>

      <!-- Project -->
      <div class="portfolio-entry-sub-label">Project name</div>
      <div class="portfolio-entry-sub-copy">Project description</div>
    </div>

    <!-- Contributions -->
    <div class="portfolio-entry-field">
      <div class="portfolio-entry-label">Contributions</div>
      <div class="portfolio-entry-sub-label">Project name</div>
      <div class="portfolio-entry-sub-copy">Project description</div>
    </div>

    <!-- Toolkit -->
    <div class="portfolio-entry-field">
      <div class="portfolio-entry-label">Toolkit</div>
      <div class="portfolio-entry-sub-label">Project name</div>
      <div class="portfolio-entry-sub-copy">Project description</div>
    </div>

  </div>
</div>
